spring:
  data:
    mongodb:
      database: database
      host: 127.0.0.1
      port: 27017

server:
  port: 8888

navcoin:
  properties:
    host: localhost
    port: 8332
    protocol: http
    username: user
    password: password
  blocksInCycle: 400
  network: mainnet

zeromq:
  address: tcp://127.0.0.1:28332

communityFund:
  blocksInCycle: 20160
  minQuorum: 0.5
  proposalVoting:
    cycles: 4
    accept: 0.75
    reject: 0.675
  paymentVoting:
    cycles: 6
    accept: 0.5
    reject: 0.5